 body {
    display : flex;
    justify-content : center;
    align-items : center;
    background : #0B2429;
  }
  
  .container {
    height : 150px;
    width : 250px;
    position : relative;
  }
	
  .leaf{
    position : absolute;
    height : 150px;
    width : 150px;
    border-radius : 67% 0;    
  }
  
  .a {
    right : 0%;
    background : #F3AC3C;
  }
  
  .b {
    right : 20%;
    background : #998235;
  }
  
  .c {
    right : 40%;
    background : #1A4341;
  }
